body {
  background: #ddddd4;
}

body,
button {
  font-family: 'Source Sans Pro', sans-serif;
}

.logo {
  display: block;
  height: 125px;
  margin: 15px auto;
}

.choose-button {
  display: block;
  margin: 35px auto;
  height: 45px;
  width: 325px;
  color: #333;
  font-size: 18px;
}

.lightbox-background {
  position: fixed;
  background: rgba(0, 0, 0, .8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.lightbox-foreground {
  background: #555;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px;
  border-radius: 2px;
}

.lightbox-preview-area {
  display: flex;
  justify-content: space-between;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  bottom: 10px;
}

.lightbox-preview {
  display: inline-block;
  border-radius: 6px;
  width: 50px;
  height: 50px;
  background: #333;
}

.lightbox-preview-active {
  background: #9d0a0e;
}

.lightbox-toolbar {
  position: fixed;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  display: flex;
  justify-content: space-between;
  color: #9d0a0e;
}

.lightbox-image {
  display: block;
}

.lightbox-title {
  background: #ddddd4;
  font-weight: bold;
  font-size: 28px;
  padding: 10px 25px;
  border-radius: 2px;
}

.lightbox-button {
  fill: #ddd;
  height: 55px;
  width: 55px;
}

.lightbox-button.lightbox-button-disabled {
  fill: #333;
}
